.note-container {
  height: 100%;
  width: 100%;
}

.note-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.note-container-notes {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
